$dark-sidebar: #333;
$dark-editor: #3f3f3f;

.dark {
  .loading {
    background: #222;
  }

  .app-sidebar {
    border-right: 1px solid darken($dark-sidebar, 8%);
  }

  .note-sidebar {
    background: darken($dark-sidebar, 4%);
    border-right: 1px solid darken($dark-sidebar, 8%);

    .note-sidebar-header {
      color: $light-font-color;
      background: darken($dark-sidebar, 4%);
      border-color: darken($dark-sidebar, 8%);

      [type='search'] {
        background: darken($dark-sidebar, 8%);
        color: $light-font-color;
        border: 1px solid darken($dark-sidebar, 8%);
      }
    }

    .list-button {
      color: $light-font-color;
      background: darken($dark-sidebar, 8%);
      border: 1px solid darken($dark-sidebar, 1%);

      &:hover,
      &:focus {
        color: white;
        background: darken($variable, 10%);
      }
    }

    .note-list {
      .note-list-each {
        border-bottom: 1px solid darken($dark-sidebar, 8%);
        color: darken($light-font-color, 10%);

        &.active:hover .note-options {
          color: white;
        }

        &:hover {
          background: darken($dark-sidebar, 5%);
          .note-options {
            color: #888;
          }
        }

        &.active {
          background: $primary;
          color: white;

          .note-options {
            &.active {
              color: white;
            }
          }
        }

        .note-options {
          &.active {
            color: #888;
          }
        }
      }
    }
  }

  .options-context-menu {
    border: 1px solid darken($dark-sidebar, 8%);
    background: $app-sidebar-color;
    color: $light-font-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.25);

    select {
      background: lighten($dark-sidebar, 8%);
      color: $light-font-color;
      border: 1px solid darken($dark-sidebar, 5%);
    }
  }

  .options-nav {
    .nav-item {
      &:hover {
        background: darken($app-sidebar-color, 5%);
      }
      &.delete-option {
        &:hover {
          background: darken($error, 10%);
          color: white;
        }
      }
    }
  }

  .empty-editor {
    background: $dark-editor;
    color: $light-font-color;
  }

  .editor .CodeMirror-activeline-background {
    background: #222 !important;
  }

  .previewer {
    background: $dark-editor;
    color: $light-font-color;
    padding: 1rem;

    a {
      color: $tag;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $attribute;
    }

    code {
      background: rgba(0, 0, 0, 0.2);
    }

    pre {
      background: darken($dark-editor, 10%);

      code {
        color: $code-font-color;
        background: transparent;
      }
    }

    hr {
      height: 0;
      border: 0;
      border-top: 2px solid darken($dark-editor, 5%);
    }

    blockquote {
      border-color: darken($dark-editor, 10%);
    }
  }

  .preview-button {
    background: $app-sidebar-color;
    color: #ccc;

    &:hover {
      background: darken($app-sidebar-color, 5%);
    }
  }

  .settings-modal {
    background: $dark-sidebar;
    color: $light-font-color;

    .action-button {
      background: darken($dark-sidebar, 3%);

      &:hover,
      &:active {
        background: darken($dark-sidebar, 5%);
      }
    }
  }

  kbd {
    background: darken($dark-sidebar, 5%);
    border: 1px solid darken($dark-sidebar, 10%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 0 2px #222 inset;
    color: darken($light-font-color, 10%);
    text-shadow: 0 1px 0 #000;
  }

  .cache {
    border: 1px solid black;
  }

  .settings-modal {
    .subtitle {
      color: darken($light-font-color, 20%);
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: $app-sidebar-color;
  }

  ::-webkit-scrollbar-thumb {
    background: lighten($app-sidebar-color, 8%);
    border-radius: 0;
  }
}
