.app-navigation {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $note-sidebar-color;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .brand {
    display: flex;
    align-items: center;

    .brand-icon {
      max-width: 30px;
      margin-right: 0.5rem;
    }

    span {
      font-weight: 700;
      font-size: 1.1rem;

      @include small-breakpoint {
        font-size: 1.2rem;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;

    a {
      display: flex;
      font-size: 1.1rem;
      color: $primary;
      font-weight: 600;
      text-decoration: none;
      margin-right: 2rem;

      &:hover {
        color: darken($primary, 10%);
      }
    }

    a.button {
      font-size: 1.1rem;
      color: white;
      margin: 0;
    }
  }
}

.app-content {
  padding: 3rem 0;
  background: lighten($note-sidebar-color, 5%);

  h1 {
    margin-top: 0;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;

    @include small-breakpoint {
      font-size: 2.6rem;
    }
  }

  .subtitle {
    color: #888;
    line-height: 1.6;
    font-size: 1.1rem;
    max-width: 600px;
    margin: 1rem auto 1.5rem;
    text-align: center;

    @include small-breakpoint {
      font-size: 1.3rem;
    }
  }

  .cta {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.app-screenshot {
  max-width: 100%;
}

.features {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;

  div {
    padding: 0 1rem;
    flex: 1 1 100%;

    @include small-breakpoint {
      flex: 1 1 50%;
    }

    h2 {
      font-weight: 600;
      font-size: 1.6rem;
    }

    p {
      line-height: 1.6;
      color: lighten($font-color, 15%);
    }
  }
}
