.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lighten($note-sidebar-color, 5%);

  svg {
    max-width: 200px;
  }
}

.app {
  position: relative;
  display: flex;
  height: 100vh;
}

.app-sidebar {
  flex: 0 0 $app-sidebar-width;
  transform: translate3D(0, 0, 0);
  overflow-y: hidden;

  &::-webkit-scrollbar-thumb {
    background: lighten($app-sidebar-color, 15%);
    border-radius: 0;
  }

  &:hover {
    overflow-y: auto;
  }
}

.note-sidebar {
  flex: 0 0 $note-sidebar-width;
  width: 100%;

  &::-webkit-scrollbar-thumb {
    background: darken($note-sidebar-color, 10%);
    border-radius: 0;
  }
}

.note-editor {
  flex: 1;
  width: 0;

  .empty-editor,
  .editor,
  .previewer {
    height: calc(100vh);
  }
}

.empty-editor {
  display: flex !important;
}

.editor,
.previewer {
  display: block !important;
}

.options-context-menu {
  cursor: default;
  border-radius: 0;
  position: absolute;
  color: $font-color;
  top: 32px;
  left: 200px;
  min-width: 250px;
  background: white;
  border: 1px solid $accent-gray;
  z-index: 5;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07), 0 5px 5px rgba(0, 0, 0, 0.2);

  .move-to-category-select {
    // This would be better as a right arrow new context
    // menu than a dropdown
    -webkit-appearance: none;
    font-size: 1rem;
    padding: 0.5rem;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.options-nav {
  font-size: 0.9rem;

  .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 0;

    &:hover {
      background: #f0f0f0;
    }

    &.delete-option {
      &:hover {
        background: $error;
        color: white;
      }
    }
  }

  svg {
    margin-right: 0.5rem;
  }
}
