.dimmer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: $dimmer-background;
  line-height: 1;
  user-select: none;
  z-index: 99;
}

.settings-modal {
  border-radius: 0.3rem;
  background: white;
  padding: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07), 0 5px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 600px;
  max-width: 90%;
  user-select: text;
  z-index: 100;
  margin: 1rem;
  max-height: 90vh;
  overflow: auto;

  h2 {
    margin: 0;
  }

  .settings {
    &-header {
      @extend .v-between;
    }

    &-label {
      font-weight: 600;
      font-size: 1.05rem;
    }

    &-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.25rem 0;
    }

    &-shortcut {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem 0;

      > div {
        flex: 2.2;
      }

      > div:nth-of-type(even) {
        flex: 1;
      }
    }

    &-section {
      padding: 1.25rem 0;

      select {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        margin: 0;
        height: 30px;
        max-width: 130px;
        border-radius: 0.3rem;
        -webkit-appearance: none;

        &:active &:focus {
          border: 1px solid lighten($primary, 15%);
          box-shadow: 0 0 0.2rem lighten($primary, 15%);
        }
      }
    }
  }

  .action-button {
    margin: 0;
    border-radius: 0.3rem;
    padding: 0.5rem;

    &:hover,
    &:active {
      background: darken($light-theme-background, 3%);
    }
  }

  .profile {
    align-items: center;
  }

  .profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 0;
    border-radius: 3px;
  }

  .profile-details {
    padding: 0 1.5rem;

    h3 {
      margin: 0.5rem 0;
    }
  }

  .subtitle {
    color: lighten($font-color, 15%);
    margin-bottom: 0.75rem;
  }
}
