.note-sidebar {
  background: $note-sidebar-color;
  border-right: 1px solid darken($note-sidebar-color, 10%);
  overflow-y: hidden;
  height: 100vh;

  &:hover {
    overflow-y: auto;
  }

  &-header {
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    position: fixed;
    top: 0;
    background: $note-sidebar-color;
    width: $note-sidebar-width;
    border-bottom: 1px solid darken($note-sidebar-color, 10%);
    border-right: 1px solid darken($note-sidebar-color, 10%);
    input {
      margin: 0;
    }
  }

  .list-button {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: $font-color;
    background: darken($note-sidebar-color, 8%);
    padding: 0.7rem;
    margin: 0.5rem 0 0;
    font-size: 0.85rem;
    font-weight: 500;
    border: none !important;

    &:hover,
    &:focus {
      background: $variable;
      color: white;
      outline: none;
    }
  }

  .note-list {
    margin-top: 60px;

    &-each {
      cursor: pointer;
      padding: 0.5rem;
      border-bottom: 1px solid darken($note-sidebar-color, 8%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 0.85rem;
      line-height: 1.3;

      .highlighted {
        color: #3e64ff;
      }

      .note-title {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          flex: 0 0 20px;
        }

        .note-favorite {
          stroke: $primary;
          margin-right: 0.5rem;
        }

        .truncate-text {
          max-width: 250px;
          overflow: hidden;
          text-overflow: clip;
        }
      }

      &:hover {
        background: darken($note-sidebar-color, 5%);

        .note-options {
          color: $font-color;
        }
      }

      &.active {
        background: $primary;
        color: white;
        border-bottom: 1px solid $primary;

        &:hover {
          .note-options {
            color: white;
          }
        }

        .highlighted {
          background: white;
        }

        .note-options {
          &.active {
            color: white;
          }
        }

        .note-favorite {
          stroke: white;
        }
      }

      .note-options {
        display: block;
        font-size: 1rem;
        color: transparent;
        padding: 0.5rem;
        z-index: 1;
        cursor: pointer;

        &.active {
          color: $font-color;
        }

        &-context-menu {
          cursor: default;
          border-radius: 0;
          position: absolute;
          color: $font-color;
          top: 32px;
          left: 200px;
          min-width: 250px;
          background: white;
          border: 1px solid $accent-gray;
          z-index: 5;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07), 0 5px 5px rgba(0, 0, 0, 0.2);

          .move-to-category-select {
            // This would be better as a right arrow new context
            // menu than a dropdown
            -webkit-appearance: none;
            font-size: 1rem;
            padding: 0.5rem;
            width: 220px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
          }
        }

        &-nav {
          font-size: 0.9rem;

          .nav-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.75rem 1rem;
            border-radius: 0;

            &:hover {
              background: #f0f0f0;
            }
          }

          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
