.note-menu-bar {
  height: 39px;
  border-top: 1px solid darken($note-sidebar-color, 5%);
  background: $note-sidebar-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    align-self: stretch;
  }

  .uuid-menu-bar {
    font-size: 0.7rem;
    padding: 0 0.5rem;
    align-self: center;
  }

  .last-synced {
    font-size: 0.7rem;
    padding: 0 0.5rem;
    align-self: center;
  }

  .note-menu-bar-button {
    background: transparent;
    border: none;
    border-radius: 0;
    color: lighten($font-color, 15%);
    padding: 0 0.75rem;
    margin: 0;
    &.trash {
      &:hover {
        color: darken($error, 20%);
      }
    }
    &:hover {
      color: $font-color;
      background: darken($note-sidebar-color, 5%);
    }
    &:active svg {
      transform: scale(1.1);
    }
    &.uuid {
      display: flex;
      align-items: center;
    }
  }

  .uuid-copied-text {
    padding-left: 0.5rem;
  }
}
