.note-sidebar {
  background: $note-sidebar-color;
  border-right: 1px solid darken($note-sidebar-color, 10%);

  &:hover {
    overflow-y: auto;
  }

  &-header {
    position: fixed;
    top: 0;
    left: $app-sidebar-width;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    background: $note-sidebar-color;
    width: $note-sidebar-width;
    border-bottom: 1px solid darken($note-sidebar-color, 10%);
    border-right: 1px solid darken($note-sidebar-color, 10%);
    input {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-collapse {
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .list-button {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: $font-color;
    background: darken($note-sidebar-color, 8%);
    padding: 0.7rem;
    margin: 0 0 0 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    border: none !important;

    &:hover,
    &:focus {
      background: $variable;
      color: white;
      outline: none;
    }
  }

  .note-list {
    margin-top: 60px;
    &-each {
      cursor: pointer;
      padding: 0.5rem;
      border-bottom: 1px solid darken($note-sidebar-color, 8%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 0.85rem;
      line-height: 1.3;

      .highlighted {
        color: #3e64ff;
      }

      .note-title {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          display: flex;
          flex: 0 0 25px;
        }

        .note-favorite {
          stroke: $primary;
          margin: 0.25rem;
        }

        .truncate-text {
          max-width: 250px;
          overflow: hidden;
          text-overflow: clip;
        }
      }

      &:hover {
        background: darken($note-sidebar-color, 5%);

        .note-options {
          color: $font-color;
        }
      }

      &.selected {
        background: $primary;
        color: white;
        border-bottom: 1px solid darken($primary, 5%);

        &:hover {
          .note-options {
            color: white;
          }
        }

        .highlighted {
          background: white;
        }

        .note-options {
          &.selected {
            color: white;
          }
        }

        .note-favorite {
          stroke: white;
        }
      }

      .note-options {
        display: block;
        font-size: 1rem;
        color: transparent;
        padding: 0.5rem;
        z-index: 1;
        cursor: pointer;

        &.selected {
          color: $font-color;
        }
      }
    }
  }
}
