.note-editor {
  &.note-open footer {
    display: block;
    background: $light-theme-background;
  }

  .back-button {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0 1rem 1rem;
  }

  @include small-breakpoint {
    &.note-open footer {
      display: none;
    }
  }
}

.empty-editor {
  background: $light-theme-background;
  width: 100%;
}

.editor {
  overflow-y: auto;
}

.editor.vim-insert-mode .CodeMirror {
  cursor: cell;

  .CodeMirror-lines {
    cursor: cell;
  }
}

.CodeMirror {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 1rem;
  height: 100%;
  font-family: Menlo, Monaco, monospace;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
}

.CodeMirror-lines {
  padding: 0;
}

.CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.05) !important;
}
