.icon {
  color: rgba(255, 255, 255, 0.7);
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
