.app {
  display: grid;
  grid-template-areas: 'app-sidebar note-sidebar editor editor';
  grid-template-columns: $app-sidebar-width $note-sidebar-width auto;
  height: 100vh;
}

.note-sidebar {
  grid-area: note-sidebar;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }
}

.app-sidebar {
  grid-area: app-sidebar;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }
}

.note-options-nav {
  margin-top: 1rem;

  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  svg {
    margin-right: 0.5rem;
  }
}
