.loading {
  background: $primary;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    max-width: 200px;
  }
}

.app {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  flex: 0;
  overflow-y: hidden;
  transform: translate3D(-300px, 0, 0);

  @include small-breakpoint {
    flex: 0 0 $app-sidebar-width;
    transform: translate3D(0, 0, 0);
  }

  &.open {
    flex: 0 0 $note-sidebar-width;
    transition: all 0.3s ease;
    transform: translate3D(0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: darken($app-sidebar-color, 10%);
    border-radius: 100px;
  }

  &:hover {
    overflow-y: auto;
  }
}

.note-sidebar {
  flex: 1;
  width: 100%;

  &.note-open {
    flex: 0;
  }

  @include small-breakpoint {
    flex: 0 0 $note-sidebar-width;

    &.note-open {
      flex: 0 0 $note-sidebar-width;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: darken($note-sidebar-color, 10%);
    border-radius: 100px;
  }
}

.note-editor {
  flex: 0;
  width: 0;

  &.note-open {
    flex: 1;
    width: 100%;

    footer {
      height: $note-header-height;
    }
  }

  @include small-breakpoint {
    flex: 1;
  }

  .empty-editor,
  .editor,
  .previewer {
    height: calc(100vh - #{$note-header-height});

    @include small-breakpoint {
      height: calc(100vh);
    }
  }
}

.empty-editor {
  @include small-breakpoint {
    display: flex !important;
  }
}

.editor,
.previewer {
  @include small-breakpoint {
    display: block !important;
  }
}
