.app {
  display: grid;
  grid-template-areas: 'app-sidebar note-sidebar editor';
  grid-template-columns: 0 auto 0;
  height: 100vh;

  @include small-breakpoint {
    grid-template-columns: $app-sidebar-width $note-sidebar-width auto;
  }
}

.note-sidebar {
  grid-area: note-sidebar;

  &::-webkit-scrollbar-thumb {
    background: darken($note-sidebar-color, 10%);
    border-radius: 100px;
  }
}

.app-sidebar {
  grid-area: app-sidebar;
  overflow-y: hidden;

  &::-webkit-scrollbar-thumb {
    background: darken($app-sidebar-color, 10%);
    border-radius: 100px;
  }

  &:hover {
    overflow-y: auto;
  }
}
