.loading {
  background: $primary;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    max-width: 200px;
  }
}

.app {
  position: relative;
  display: flex;
  height: 100vh;
}

.app-sidebar {
  flex: 0 0 $app-sidebar-width;
  transform: translate3D(0, 0, 0);
  overflow-y: hidden;

  &::-webkit-scrollbar-thumb {
    background: darken($app-sidebar-color, 10%);
    border-radius: 100px;
  }

  &:hover {
    overflow-y: auto;
  }
}

.note-sidebar {
  flex: 0 0 $note-sidebar-width;
  width: 100%;

  &::-webkit-scrollbar-thumb {
    background: darken($note-sidebar-color, 10%);
    border-radius: 100px;
  }
}

.note-editor {
  flex: 1;
  width: 0;

  .empty-editor,
  .editor,
  .previewer {
    height: calc(100vh);
  }
}

.empty-editor {
  display: flex !important;
}

.editor,
.previewer {
  display: block !important;
}
