@mixin small-breakpoint {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin medium-breakpoint {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin large-breakpoint {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
