.dimmer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: $dimmer-background;
  line-height: 1;
  user-select: none;
  z-index: 99;
}

.settings-modal {
  border-radius: 4px;
  background: white;
  padding: 2rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 600px;
  max-width: 90%;
  user-select: text;
  z-index: 100;
  margin: 1rem;
  max-height: 90vh;
  overflow: auto;

  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .settings {
    &-label {
      font-weight: 600;
      font-size: 1.05rem;
    }

    &-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;

      &:last-of-type {
        border-bottom: 0;
      }
    }

    &-shortcut {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;
    }

    &-section {
      padding: 1.25rem 0;
    }
  }
}
