.note-sidebar {
  background: $note-sidebar-color;
  border-right: 1px solid darken($note-sidebar-color, 10%);
  overflow-y: hidden;
  height: 100vh;

  &:hover {
    overflow-y: auto;
  }

  &-header {
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;

    [type='search'] {
      margin-bottom: 0;
    }
  }

  .note-list {
    &-each {
      cursor: pointer;
      padding: 1rem 0.5rem;
      border-bottom: 1px solid darken($note-sidebar-color, 8%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.3;

      @include small-breakpoint {
        padding: 0.5rem;
        font-size: 0.85rem;
      }

      .highlighted {
        color: #3e64ff;
      }

      .note-title {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          flex: 0 0 20px;
        }

        .note-favorite {
          stroke: $primary;
          margin-right: 0.5rem;
        }
      }

      &:hover {
        background: darken($note-sidebar-color, 5%);

        .note-options {
          color: $font-color;
        }
      }

      &.active {
        background: $primary;
        color: white;
        border-bottom: 1px solid $primary;

        .highlighted {
          background: white;
          color: $primary;
        }

        &:hover {
          .note-options {
            color: white;
          }
        }

        .note-favorite {
          stroke: white;
        }
      }

      .note-options {
        display: none;

        @include small-breakpoint {
          font-size: 1rem;
          color: transparent;
          padding: 0.5rem;
          z-index: 1;
          cursor: pointer;
        }

        &.active {
          color: $font-color;
        }

        &-context-menu {
          cursor: default;
          border-radius: 4px;
          position: absolute;
          padding: 0.5rem;
          color: $font-color;
          top: 32px;
          left: 200px;
          min-width: 250px;
          background: white;
          border: 1px solid $accent-gray;
          z-index: 3;
          box-shadow: $box-shadow;

          .select {
            -webkit-appearance: none;
            font-size: 1rem;
            padding: 0.5rem;
            width: calc(100% - 1rem);
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.25rem;
            margin-bottom: 0.5rem;
          }
        }

        &-nav {
          font-size: 0.9rem;

          .nav-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 2px;

            &:hover {
              background: #f0f0f0;
            }
          }

          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
