.previewer {
  position: relative;
  grid-area: editor;
  max-height: calc(100vh);
  overflow-y: auto;

  background: #f5f5f5;
  color: #202020;
  padding: 1rem;
}

.previewer::after {
  position: absolute;
  content: 'Preview';
  background-color: $note-sidebar-color;
  font-weight: 500;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.previewer img {
  max-width: 20rem;
  max-height: 20rem;
  object-fit: cover;
}
