.app-sidebar {
  padding: 1rem 0 0.25rem;

  background: #333;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;

  .app-sidebar-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

    &:hover {
      background: #444;
    }

    &.active {
      background: #292929;
    }
  }

  .app-sidebar-main {
    flex: 1;

    p {
      padding: 0 0.5rem;
    }

    h2 {
      margin: 0;
      color: #888;
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    .category-title {
      margin-top: 1rem;
      padding: 0.5rem;
    }
  }

  .app-sidebar-actions {
    > div {
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
    }

    h1 {
      font-size: 1.05rem;
      font-weight: 700;
      margin: 0;
    }
  }

  .action-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292929;
    padding: 0.7rem;
    border-radius: 50%;
    stroke: rgba(255, 255, 255, 0.7);
    margin: 0 0.25rem;

    &:hover {
      stroke: #6ab0f3;
      background: #222;
    }
  }

  .category-list {
    font-size: 0.9rem;

    .category-each {
      cursor: pointer;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background: #444;

        .category-options {
          color: #bbb;
        }
      }

      .category-each-name {
        display: flex;
        align-items: center;
      }

      .category-options {
        color: transparent;
        z-index: 1;
        display: flex;
        cursor: pointer;
      }

      &.active {
        background: #222 !important;
      }
    }
  }

  .add-category-form {
    input {
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid #888;
      padding: 0.5rem;
      font-size: 0.9rem;
      -webkit-appearance: none;
      color: #eee;
    }
  }

  .add-category-button {
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    font-size: 1rem;
    border: none;
    line-height: 1;

    svg:hover {
      stroke: white;
    }
  }
}

.note-sidebar {
  background: $background;
  border-right: 1px solid #ccc;

  .note-sidebar-header {
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #bbb;
    text-align: center;
    font-weight: 700;
  }

  .note-list {
    .note-each {
      position: relative;
      cursor: pointer;
      padding: 0.5rem;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      color: #444;

      &:hover {
        background: darken($background, 4%);

        .note-options {
          color: #333;
        }
      }

      &.active {
        background: #eee;
        color: #222;
      }

      .note-options {
        color: transparent;
        padding: 0.5rem;
        z-index: 1;
        cursor: pointer;

        &.active {
          color: #333;
        }
      }

      .note-options-context {
        cursor: default;
        position: absolute;
        padding: 1rem;
        color: #333;
        top: 32px;
        left: 200px;
        min-width: 200px;
        background: white;
        border: 1px solid #eee;
        z-index: 3;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);

        h2 {
          margin-top: 0;
          font-size: 1rem;
        }

        .select-element {
          -webkit-appearance: none;
          font-size: 1rem;
          padding: 0.5rem;
          width: 100%;
        }
      }

      .note-options-nav {
        margin-top: 1rem;

        div {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 0.5rem;

          &:hover {
            background: #f0f0f0;
          }
        }

        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
