// Sizes
$app-sidebar-width: 200px;
$note-sidebar-width: 300px;

// Colors
$primary: #5183f5;
$font-color: #404040;
$light-font-color: #d0d0d0;
$app-sidebar-color: #333;
$note-sidebar-color: #e8e8e8;
$light-theme-background: #f5f5f5;
$accent-gray: #d0d0d0;
$accent-lightgray: lighten($accent-gray, 12%);
$dimmer-background: rgba(0, 0, 0, 0.6);

$box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.08);

// Font
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// Elements
$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]');
$forms: (
  '[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea'
);
