body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  display: grid;
  grid-template-areas:
    'nav nav nav'
    'sidebar editor editor';
  grid-template-columns: 250px auto;
  grid-template-rows: 25px auto;
  min-height: 100vh;
  border-left: 2px solid #dedede;
  border-right: 2px solid #dedede;
}

.navigation {
  grid-area: nav;
  background: #ccc;
}

.sidebar {
  grid-area: sidebar;
  background: #efefef;
}

.note-list {
  .note-title {
    cursor: pointer;
    padding: 1rem;
    border-bottom: 2px solid #dedede;
    &:hover {
      background: #dedede;
    }
  }
}

.editor {
  grid-area: editor;

  .CodeMirror {
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    font-family: Menlo, Monaco, monospace;
    font-weight: 500;
    font-size: 15px;
  }
}
