$background: #dedede;
$hover: #ccc;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  display: grid;
  grid-template-areas:
    'app-sidebar note-sidebar editor editor'
    'nav nav nav nav';
  grid-template-columns: 175px 250px auto;
  grid-template-rows: auto 25px;
  min-height: 100vh;
}

.navigation {
  grid-area: nav;
  background: #ccc;
  display: flex;

  .nav-button {
    -webkit-display: none;
    display: block;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
    border: none;
    font-size: 1rem;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.note-sidebar {
  grid-area: note-sidebar;
  background: $background;

  .note-list {
    .note-each {
      position: relative;
      cursor: pointer;
      padding: 0 0.5rem;
      border-bottom: 2px solid $hover;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background: $hover;

        .note-options {
          color: #333;
        }
      }

      &.active {
        background: #bbb;
      }

      .note-options {
        color: transparent;
        padding: 0.5rem;
        z-index: 1;
        cursor: pointer;

        &.active {
          color: #333;
        }
      }

      .note-options-context {
        cursor: default;
        position: absolute;
        color: #333;
        top: 32px;
        left: 200px;
        min-width: 150px;
        padding: 1rem;
        background: white;
        border: 1px solid #eee;
        z-index: 3;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);

        h2 {
          margin-top: 0;
          font-size: 1rem;
        }
      }
    }
  }
}

.app-sidebar {
  padding: 1rem 0;
  grid-area: app-sidebar;
  background: #333;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;

  .app-sidebar-link {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

    &:hover {
      background: #444;
    }
  }

  .category-list {
    font-size: 0.9rem;

    .category-each {
      cursor: pointer;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background: #444;

        .category-options {
          color: #bbb;
        }
      }

      &.active {
        background: #bbb;
      }

      .category-options {
        color: transparent;
        z-index: 1;
        cursor: pointer;

        &.active {
          color: #bbb;
        }
      }

      &.active {
        background: #222 !important;
      }
    }
  }
}

.add-category-form {
  input {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #888;
    padding: 0.5rem;
    font-size: 0.9rem;
    -webkit-appearance: none;
    color: #eee;
  }
}

#app-sidebar-main {
  flex: 1;

  h1 {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0;
  }

  p {
    padding: 0 0.5rem;
  }

  h2 {
    margin: 1rem 0 0;
    color: #888;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}

#app-sidebar-button {
  width: 100%;
  align-self: flex-end;

  button {
    -webkit-display: none;
    display: block;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
    border: none;
    font-size: 1rem;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.empty-editor {
  grid-area: editor;
  background: #f5f5f5;
  width: 100%;
}

.editor {
  grid-area: editor;
  max-height: calc(100vh - 25px);
  overflow-y: auto;

  .CodeMirror {
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    font-family: Menlo, Monaco, monospace;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
  }

  .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.05) !important;
  }
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-element {
  -webkit-appearance: none;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
